In [1]:
import os
import numpy as np
import pandas as pd

from datetime import datetime

In [2]:
# Import data
# Concating data
data = pd.read_csv("Text_Preprocessing.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10975 entries, 0 to 10974
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         10975 non-null  int64
 1   Date               10975 non-null  object
 2   User               10975 non-null  object
 3   Tweet              10975 non-null  object
 4   Tweet Cleaning     10975 non-null  object
 5   Tweet Tokenize     10975 non-null  object
 6   Frekuensi Tweet    10975 non-null  object
 7   Tweet Filtering    10975 non-null  object
 8   Tweet Normalisasi  10975 non-null  object
 9   Tweet Stemmed      10975 non-null  object
 10  Tweet Bersih       10974 non-null  object
dtypes: int64(1), object(10)
memory usage: 943.3+ KB

In [3]:
data = data.drop_duplicates("Tweet Bersih")
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10975 entries, 0 to 10974
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         10975 non-null  int64
 1   Date               10975 non-null  object
 2   User               10975 non-null  object
 3   Tweet              10975 non-null  object
 4   Tweet Cleaning     10975 non-null  object
 5   Tweet Tokenize     10975 non-null  object
 6   Frekuensi Tweet    10975 non-null  object
 7   Tweet Filtering    10975 non-null  object
 8   Tweet Normalisasi  10975 non-null  object
 9   Tweet Stemmed      10975 non-null  object
 10  Tweet Bersih       10974 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.0+ MB

In [4]:
BANYAK_SAMPLE_DATA = 2194
sample = data.sample(n=BANYAK_SAMPLE_DATA, random_state=2020)
sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 1380 to 3756
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2000 non-null   int64
 1   Date               2000 non-null   object
 2   User               2000 non-null   object
 3   Tweet              2000 non-null   object
 4   Tweet Cleaning     2000 non-null   object
 5   Tweet Tokenize     2000 non-null   object
 6   Frekuensi Tweet    2000 non-null   object
 7   Tweet Filtering    2000 non-null   object
 8   Tweet Normalisasi  2000 non-null   object
 9   Tweet Stemmed      2000 non-null   object
 10  Tweet Bersih       2000 non-null   object
dtypes: int64(1), object(10)
memory usage: 187.5+ KB

In [5]:
sample.to_csv('Sample Tweet 2.csv')